#blogs{
    padding: 0;
    box-sizing: border-box;
}

/* Card elements to be created when a new blog is added */
.card{
    border-radius: 1em;
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-right: 50px;
    margin-left: 50px;
}

ul{
    list-style-type: none;
}

li{
    padding: 2px;
}

/* Dark and light mode cards */
.dark .card{
    border: 1px solid white;
}

.light .card{
    border: 1px solid #1e2642;
}

button{
    font-family: "Audiowide", sans-serif;
}
