body {
    font-family: "Audiowide", sans-serif;
    /* display: block; */

}

.dark{
    background-color: #1e2642;
    color: white;
    height: 100vh;
}

.light{
    background-color: white;
    color: 1e2642;
    height: 100vh;
}

.header {
    text-align: center;

    padding: 10px;
    font-size: 48px;

}

#theme-switcher{
    position: absolute;
    top: 0px;
    right: 0px;
    padding: 10px;
}

p{
    text-align: center;
    position: absolute;
    top: 65%;
    left: 39%;
}

.dark p{
    color: white;
}

.light p{
    color: #1e2642;
}
  
.footer {
    width: 100%;
    position: fixed;
    left: 0px;
    bottom: 3px;

    text-align: center;
}

.footer a{
    text-decoration: none;
}

.light .footer a{
    color: #1e2642;
}

.dark .footer a{
    color: white;
}