html, body {
    font-family: "Audiowide", sans-serif;
    margin: 0;
    padding: 0;
    height: 100%;

}

.container{
    min-height: 100%;
    position: relative;
}

.dark{
    background-color: #1e2642;
    color: white;
}

.light{
    background-color: white;
    color: #1e2642;
}

.header {
    text-align: center;

    padding: 10px;
    font-size: 48px;
}

#theme-switcher{
    position: absolute;
    top: 0px;
    right: 0px;
    padding: 10px;
}

.body{
    min-width: 100%;
    padding-bottom: 60px;
}
  
.footer{
    position: absolute;
    bottom: 0;
    height: 60px;
    width: 100%;

    text-align: center;
    text-decoration: none;
}

.footer a{
    text-decoration: none;
}

.light .footer a{
    color: #1e2642;
}

.dark .footer a{
    color: white;
}